.Welcome
  font-size 1.75em
  text-align center
  margin-top 60px
  min-height 300px
  background-color transparent
  md-content
    background-color transparent
    md-card
      background-color white
      padding 30px
      h1
        margin-bottom 10px
      h2
        margin-top 10px
      .welcome__content
        text-align initial
