/*
.welcome
  md-content
    background-color transparent
    md-card
      background-color white
*/

.welcome
  background-color white
  text-align center
  margin 60px
  margin-left auto
  margin-right auto
  width 500px
  min-height 300px
  padding 30px


